name: Deploy AKS and Kubernetes Resources

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CAS: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_SUB: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_IOD: ${{ secrets.AZURE_TENANT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.6  # Specify the Terraform version

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        if: github.event_name == 'push'
        run: terraform apply -auto-approve tfplan

      - name: Deploy Kubernetes Resources
        if: github.event_name == 'push'
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        run: |
          echo "$KUBE_CONFIG_DATA" | base64 -d > kubeconfig
          export KUBECONFIG=$(pwd)/kubeconfig

          # Deploy Kubernetes resources with kubectl
          kubectl apply -f kubernetes_manifests/  # Update this path if needed

      - name: Clean up kubeconfig
        if: github.event_name == 'push'
        run: rm -f kubeconfig
