on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUB }}
          tenant-id: ${{ secrets.AZURE_IOD }}


      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          resource-group: gitops
          cluster-name: dev-aks

      - name: Apply Kubernetes manifest
        run: |
          kubectl apply -f app-deployment/pod.yaml
