
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Deploy to AKS
      uses: azure/aks-set-context@v1
      with:
       client-id: ${{ secrets.AZURE_CLIENT_ID }}
       client-secret: ${{ secrets.AZURE_CAS }}
       subscription-id: ${{ secrets.AZURE_SUB }}
       tenant-id: ${{ secrets.AZURE_IOD }}
       cluster-name: dev-aks
       resource-group: gitops
    - name: Apply Kubernetes manifest
      run: |
        kubectl apply -f app-deployment/pod.yaml
